<section id="section-skill-set">
  <div class="content section-skill-set">
    <h4>Technologies</h4>
    <div class="section-skills">
      <div class="text">
        <article>
          <h2>Skill Set</h2>
          <p>
            A short introduction of your skills. Highlight your experience of
            using different front-end technologies and emphasise your openness
            to learning and adapting to new technologies. Show how important it
            is for you to keep up with the rapid changes in web development.
          </p>
          <p class="bigger">You need<span> another skill?</span></p>
          <p class="smaller">
            Feel free to contact me. I look forward to expanding on my previous
            knowledge.
          </p>
          <a class="btn-title" href="#"><span>Let's Talk</span></a>
        </article>
      </div>
      <div class="skills-box">
        // TODO Hover effect hinzufügen // TODO Mindset popup hinzufügen @for
        (skill of skills; track $index) {
        <div class="skill">
          <img
            src="./../../../assets/icons/{{ skill.image }}"
            alt="{{ getAltName(skill.image) }}"
          />
          <p>{{ skill.name }}</p>
        </div>
        }
      </div>
    </div>
  </div>
</section>
