@import "./../../../assets/styles/colors.scss";
@import "./../../../assets/styles/animations.scss";

#section-skill-set {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  .section-skills {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}

.text {
  article {
    width: 568px;
    border: 2px solid $main-green;
    border-radius: 30px;
    padding: 32px;
    background: #3dcfb61a;
    backdrop-filter: blur(4px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    p {
      font-size: 18px;
      font-weight: 400;
    }
  }
}

.skills-box {
  width: 100%;
  display: grid;
  justify-content: end;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-items: end;
}

.skill {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
  height: fit-content;
  p {
    text-align: center;
  }

  img {
    width: 64%;
    aspect-ratio: 1/1;
    padding-bottom: 8px;
  }
  &:hover img {
    transform: scale(1.1);
  }
  app-popup {
    position: absolute;
    bottom: 90px;
    left: -85px;
  }
  &:hover app-popup {
    display: block !important;
  }
}

.bigger {
  font-family: "Fira Code", monospace;
  font-weight: 700 !important;
  font-size: 24px !important;
  word-spacing: -5px;
  span {
    color: $main-green;
  }
}

.smaller {
  font-size: 14px !important;
}

@media (max-width: 1224px) {
  .skills-box {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}

@media (max-width: 1024px) {
  #section-skill-set {
    .section-skills {
      display: flex;
      width: 100%;
      flex-direction: column;
      align-items: center;
    }
  }

  .text {
    article {
      width: 100%;
      h2 {
        text-align: center;
      }
    }
  }

  .skills-box {
    margin-top: 50px;
    justify-items: center;
  }
}

@media (max-width: 450px) {
  .skills-box {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
}
