<div class="dialog">
  <div class="menue">
    @if (menueActive) {
    <div class="link">
      <a href="#section-about-me">{{ "Header.anker1" | translate }}</a>
      <div class="point"></div>
    </div>
    <div class="link">
      <a href="#section-skill-set">{{ "Header.anker2" | translate }}</a>
      <div class="point"></div>
    </div>
    <div class="link">
      <a href="#section-projects">{{ "Header.anker3" | translate }}</a>
      <div class="point"></div>
    </div>
    }
    <div class="btn-language" (click)="translation.changeLanguage()">
      <div class="slider" [class.active]="translation.language == 'en'"></div>
      <p [class.active-language]="translation.language == 'de'">DE</p>
      <p [class.active-language]="translation.language == 'en'">EN</p>
    </div>
  </div>
</div>
