@import "./../../../assets/styles/colors.scss";

app-header,
app-header-mobile {
  width: 100%;
}

#section-title {
  flex-grow: 1;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.coloums {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 128px;
    font-weight: 700;
    margin-bottom: 40px;
    text-align: center;
  }
}

.btn-title-box {
  display: flex;
  justify-content: center;
  gap: 48px;
}

.col {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;

  .seperator-left {
    width: 1px;
    height: 240px;
    flex-grow: 1;
    background-color: $main-green;
  }

  .seperator-right {
    width: 1px;
    height: 186px;
    flex-grow: 1;
    background-color: white;
  }

  a {
    position: relative;
    img {
      height: 32px;
      width: 32px;
    }
    &:hover .point {
      position: absolute;
      height: 8px;
      width: 8px;
      border-radius: 50%;
      background-color: $main-green;
      right: -14px;
      top: calc(50% - 8px);
    }
    &:hover img {
      filter: brightness(0) saturate(100%) invert(99%) sepia(4%) saturate(2298%)
        hue-rotate(285deg) brightness(119%) contrast(100%);
    }
  }
}

.link-mail {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  &:hover {
    color: $main-green;
  }
}

.marquee {
  position: absolute;
  height: 62px;
  background: #ffffff1f;
  backdrop-filter: blur(5.300000190734863px);
  bottom: 0;
  left: 0;
  right: -10px;
  transform: rotateZ(357deg);
  transform-origin: bottom left;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}

.marquee-text {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 25s linear infinite;
  white-space: nowrap;
  color: $main-green;
  font-size: 32px;
  display: flex;
  align-items: center;
  gap: 64px;
  span {
    color: $main-green;
  }

  .point {
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: $main-green;
  }
}

@keyframes marquee {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

@media (max-width: 780px) {
  #section-title {
    display: grid;
    justify-items: unset;
    align-items: unset;
    justify-items: stretch;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .coloums {
    &:first-child {
      align-items: flex-start;
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 2;
      grid-row-end: 3;
    }
    &:last-child {
      align-items: flex-end;
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end: 3;
    }
  }

  .title {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    h1 {
      font-size: 62px;
    }
  }
}
