@import "./../../../assets/styles/colors.scss";

section {
  height: 100vh;
  background: linear-gradient(58.22deg, #1c1c1c 18.26%, #08463b 93.28%);
  display: flex;
  flex-direction: column;
  font-family: "Karla", sans-serif;
}

.flex {
  display: flex;
  flex-grow: 1;
}

.coloums {
  display: flex;
  flex-direction: column;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 128px;
    font-weight: 700;
  }
  h3 {
    font-size: 40px;
    font-weight: 400;
    font-family: "Fira Code", monospace;
  }
}

.btn-title-box {
  display: flex;
  justify-content: center;
  gap: 48px;
  .btn-title {
    height: 48px;
    border: 1px solid white;
    border-radius: 100px;
    text-align: center;
    display: flex;
    align-items: center;
    overflow: hidden;
    & span {
      padding: 0 24px;
    }
    &:hover {
      border-color: $main-green;
      & span {
        padding: 0 24px;
        color: $main-green;
        animation: moveTicker 2.5s linear infinite;
      }
    }
  }
}

@keyframes moveTicker {
  0% {
    transform: translateX(0%);
  }
  48% {
    transform: translateX(-100%);
    opacity: 1;
  }
  49% {
    transform: translateX(-100%);
    opacity: 0;
  }
  50% {
    transform: translateX(100%);
    opacity: 0;
  }
  51% {
    transform: translateX(100%);
    opacity: 1;
  }
  100% {
    transform: translateX(0%);
  }
}
