@import "./../../../assets/styles/colors.scss";

section {
  height: 100vh;
  background: linear-gradient(58.22deg, #1c1c1c 18.26%, #08463b 93.28%);
  display: flex;
  flex-direction: column;
  font-family: "Karla", sans-serif;
  position: relative;
  overflow: hidden;
}

.section-title {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  width: 100%;
}

.coloums {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 128px;
    font-weight: 700;
    margin-bottom: 40px;
    text-align: center;
  }
}

.btn-title-box {
  display: flex;
  justify-content: center;
  gap: 48px;
}

.col {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;

  .seperator-left {
    width: 1px;
    height: 240px;
    flex-grow: 1;
    background-color: $main-green;
  }

  .seperator-right {
    width: 1px;
    height: 186px;
    flex-grow: 1;
    background-color: white;
  }

  a {
    position: relative;
    img {
      height: 32px;
      width: 32px;
    }
    &:hover .point {
      position: absolute;
      height: 8px;
      width: 8px;
      border-radius: 50%;
      background-color: $main-green;
      right: -14px;
      top: calc(50% - 8px);
    }
    &:hover img {
      filter: brightness(0) saturate(100%) invert(99%) sepia(4%) saturate(2298%)
        hue-rotate(285deg) brightness(119%) contrast(100%);
    }
  }
}

.link-mail {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  &:hover {
    color: $main-green;
  }
}

.marquee {
  position: absolute;
  height: 62px;
  background: #ffffff1f;
  backdrop-filter: blur(5.300000190734863px);
  bottom: 0;
  left: 0;
  right: -10px;
  transform: rotateZ(357deg);
  transform-origin: bottom left;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}

.marquee-text {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 25s linear infinite;
  white-space: nowrap;
  color: $main-green;
  font-size: 32px;
  display: flex;
  align-items: center;
  gap: 64px;
  span {
    color: $main-green;
  }

  .point {
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: $main-green;
  }
}

@keyframes marquee {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}
