<section>
  <app-header></app-header>
  <div class="content flex">
    <div class="coloums"></div>
    <div class="title">
      <h3>Frontend Developer</h3>
      <h1>Niko Helwig</h1>
      <div class="btn-title-box">
        <a class="btn-title" href="#"
          ><span>{{ "Title.btn1" | translate }}</span></a
        >
        <a class="btn-title" href="#"
          ><span>{{ "Title.btn2" | translate }}</span></a
        >
      </div>
    </div>
    <div class="coloums"></div>
  </div>
</section>
