@import "./../../../../assets/styles/colors.scss";

.dialog {
  position: relative;
  padding: 80px;
  background: linear-gradient(58.22deg, #1c1c1c 18.26%, #08463b 93.28%);
  font-family: "Karla", sans-serif;
  color: white;
  max-height: unset;
}

.content-dialog {
  display: flex;
}

.dialof-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  padding-right: 80px;
}

.title {
  .index-title {
    font-weight: 700;
    font-size: 128px;
    color: $main-green;
    line-height: 128px;
  }
  h2 {
    color: white;
    text-align: left;
    line-height: 64px;
  }
}

.headline {
  font-weight: 700;
  font-size: 24px;
  color: $main-green;
}

.discription {
  font-size: 18px;
}

.dialof-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  img {
    width: 520px;
  }
}

.technologies {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
  .technology {
    display: flex;
    align-items: center;
    img {
      margin-right: 4px;
    }
  }
}

.btn-box {
  display: flex;
  gap: 32px;
  .btn {
    height: 48px;
    border: 2px solid white;
    padding: 24px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    cursor: pointer;
    span {
      font-size: 18px;
    }
    img {
      transition: all 125ms ease-in-out;
    }
    &:hover {
      span {
        color: $main-green;
      }
      img {
        transform: translate(10px, -2px);
      }
      border-color: $main-green;
    }
  }
}

.btn-close {
  position: absolute;
  top: 56px;
  right: 56px;
  div {
    height: 48px;
    width: 48px;
    background-image: url(./../../../../assets/icons/btnClose.png);
    background-position: center center;
    cursor: pointer;
    &:hover {
      background-image: url(./../../../../assets/icons/btnCloseHover.png);
    }
  }
}

.btn-next {
  position: absolute;
  height: 48px;
  bottom: 56px;
  right: 56px;
  div {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-family: "Karla", sans-serif;
    font-size: 18px;
    img {
      height: 32px;
      width: 32px;
      transition: all 125ms ease-in-out;
    }
    &:hover {
      color: $main-green;
      img {
        transform: translate(10px, 0);
      }
    }
  }
}

@media (max-width: 1350px) {
  .dialof-right {
    img {
      width: 400px;
    }
  }
}

@media (max-width: 1224px) {
  .dialog {
    padding: 40px;
  }

  .content-dialog {
    flex-direction: column-reverse;
  }

  .dialof-right {
    width: 100%;
    padding-bottom: 16px;
    padding-top: 16px;
    img {
      width: 100%;
      max-width: 400px;
    }
  }

  .dialof-left {
    width: 100%;
    padding: 0;
    padding-bottom: 16px;
    gap: 16px;
  }

  .btn-close,
  .btn-next {
    position: static;
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  .title {
    .index-title {
      line-height: 72px;
      font-size: 72px;
      padding-bottom: 8px;
    }
    h2 {
      line-height: 40px;
    }
  }

  .btn-box {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    justify-content: center;
  }
}

// @media (max-width: 605px) {
//   .dialof-right {
//     img {
//       width: 100%;
//     }
//   }
// }
