<div class="popup">
  <img src="./../../../../assets/icons/popup.png" alt="popup" />
  <div class="content-popup">
    <div class="text">{{ "Skills.popup" | translate }}</div>
    <div class="skills">
      <div class="skill">
        <img src="./../../../../assets/icons/react.png" alt="logo_react" />
        <p>React</p>
      </div>
      <div class="skill">
        <img src="./../../../../assets/icons/vueJs.png" alt="logo_vueJs" />
        <p>Vue Js</p>
      </div>
    </div>
  </div>
</div>
