<section id="section-contact">
  <div class="content section-contact">
    <div class="contact-left">
      <div>
        <h4>{{ "Contact.headline" | translate }}</h4>
        <h2>{{ "Contact.title" | translate }}</h2>
      </div>
      <p>
        {{ "Contact.headline2" | translate }}
      </p>
      <p>
        {{ "Contact.description" | translate }}
      </p>
      <p>
        {{ "Contact.description2" | translate }}
        <span>{{ "Contact.description3" | translate }}</span>
      </p>
    </div>
    <div class="contact-right"></div>
  </div>
</section>
