@import "./../../../assets/styles/colors.scss";
@import "./../../../assets/styles/animations.scss";

#section-contact {
  display: flex;
  width: 100%;
  overflow-x: hidden;
  .contact-left,
  .contact-right {
    width: 50%;
  }
}

.contact-left {
  margin-right: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  h2,
  h4 {
    margin: 0;
    text-align: start;
  }
  span {
    color: $main-green;
  }
}

.headline {
  font-weight: 700;
  font-size: 24px;
  color: $main-green;
  font-family: "Fira Code", monospace;
}

.contact-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  p {
    color: #ec7b7bcc;
  }
}

.row {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-top: 1px #3dcfb680 solid;
  border-bottom: 1px #3dcfb680 solid;
  padding: 32px;
  &:hover,
  &:has(input:focus-visible),
  &:has(textarea:focus-visible) {
    border-color: $main-green;
  }
  label {
    font-family: "Fira Code", monospace;
    font-weight: 500;
    font-size: 24px;
    color: $main-green;
    margin-bottom: 16px;
  }
  input,
  textarea {
    background: transparent;
    border: none;
    width: 80%;
    height: 24px;
    font-size: 18px;
    &:-webkit-autofill {
      box-shadow: 0 0 0px 1000px transparent inset !important;
      -webkit-text-fill-color: white !important;
      transition: background-color 5000s ease-in-out 0s;
      font-family: inherit !important;
    }
  }
  textarea {
    height: 100px;
    width: 100%;
    resize: none;
  }
}

$hover-bg: rgba(61, 207, 182, 0.1);

.privacyPolicy {
  margin-top: 40px;

  .checkmark-text {
    display: inline;
    word-break: break-word;
    width: 100%;
  }
  .green {
    color: $main-green;
    cursor: pointer;
    padding: 4px;
    border-bottom: 1px transparent solid;
    &:hover {
      border-color: $main-green;
    }
  }
}

.btn-checkbox {
  input {
    display: none;
  }
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
  .checkmark {
    height: 24px;
    width: 24px;
    background-image: url(./../../../assets/icons/btnUnchecked.png);
    background-position: center center;
    &:hover {
      background-color: $hover-bg;
      border-radius: 50%;
    }
  }
  input:checked + .checkmark {
    background-image: url(./../../../assets/icons/btnChecked.png);
  }
}

.btn-box {
  margin-top: 40px;
  margin-bottom: 8px;
  display: flex;
  justify-content: center;

  .btn-contact {
    height: 48px;
    border: 1px solid white;
    border-radius: 100px;
    text-align: center;
    display: flex;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
    background-color: transparent;
    font-size: 18px;
    & span {
      padding: 0 24px;
    }
    &:not(:disabled):hover {
      border-color: $main-green;
      & span {
        padding: 0 24px;
        color: $main-green;
        animation: moveTicker 3s linear infinite;
      }
    }
    &:disabled:hover {
      cursor: not-allowed;
    }
  }
}

@keyframes moveTicker {
  0% {
    transform: translateX(0%);
  }
  48% {
    transform: translateX(-100%);
    opacity: 1;
  }
  49% {
    transform: translateX(-100%);
    opacity: 0;
  }
  50% {
    transform: translateX(100%);
    opacity: 0;
  }
  51% {
    transform: translateX(100%);
    opacity: 1;
  }
  100% {
    transform: translateX(0%);
  }
}

@media (max-width: 1024px) {
  #section-contact {
    flex-direction: column;

    .contact-left,
    .contact-right {
      width: 100%;
      margin: 0;
    }

    .contact-left {
      margin-bottom: 50px;
    }
    form {
      width: 100%;
    }
  }
}

@media (max-width: 500px) {
  .row {
    padding: 32px 16px;
    input,
    textarea {
      width: 100%;
    }
  }
  .contact-left p:last-child {
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
  }
}
