.dialog {
  position: relative;
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: linear-gradient(58.22deg, #1c1c1c 18.26%, #08463b 93.28%);
  font-family: "Karla", sans-serif;
  color: white;
  min-height: 100vh;
}

h1 {
  padding-bottom: 16px;
}

h2 {
  font-size: 28px;
  padding-top: 16px;
  text-align: left;
}

a {
  text-decoration: underline;
  overflow-wrap: anywhere;
  &:hover {
    color: #3dcfb6;
  }
}
