@import "./../../../assets/styles/colors.scss";

section {
  background-color: $main-bg;
  padding-top: 92px;
  padding-bottom: 92px;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  font-family: "Karla", sans-serif;
}

.section-projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: flex-start;
  gap: 40px;
}

.project-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.project {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75%;
  padding: 40px 32px;
  border-top: 1px solid $main-green;
  cursor: pointer;

  &:hover {
    background-color: #3dcfb64d;
    p img {
      display: block !important;
      height: 23px;
      width: 23px;
      padding-left: 4px;
    }
  }

  p {
    font-family: "Fira Code", monospace;
    font-weight: 700;
    font-size: 24px;
    display: flex;
    align-items: center;
  }

  &:last-child {
    border-bottom: 1px solid $main-green;
  }
}

.technologies-box {
  display: flex;
  .technologie {
    display: flex;
    padding-left: 8px;
    padding-right: 8px;
    border-right: 1px solid $main-green;
    &:last-child {
      border: none;
    }
  }
}

h4,
h2 {
  text-align: start;
  margin: 0;
}
