@import "./../../../assets/styles/colors.scss";

section {
  background-color: $main-bg;
  padding-top: 92px;
  padding-bottom: 92px;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  font-family: "Karla", sans-serif;
}

.section-projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: flex-start;
  gap: 40px;
}

.project-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.project {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  position: relative;

  .project-img {
    position: absolute;
    right: 0;
    width: 296px;
    height: 192px;
    img {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
    }
    .bg-img {
      top: 20px;
      left: 24px;
      z-index: 0;
    }
  }

  &:last-child .project-img {
    bottom: 0;
  }

  &:first-child .project-img {
    top: 0;
  }
}

.project-data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  padding: 40px 32px;
  border-top: 1px solid $main-green;
  cursor: pointer;

  &:hover {
    background-color: #3dcfb64d;
    img {
      display: block !important;
      height: 23px;
      width: 23px;
    }
  }

  p {
    font-family: "Fira Code", monospace;
    font-weight: 700;
    font-size: 24px;
    display: flex;
    align-items: center;
    margin: 0;
    height: 24px;
  }

  &:last-child {
    border-bottom: 1px solid $main-green;
  }

  &:hover ~ .project-img {
    display: block !important;
  }
}

.technologies-box {
  display: flex;
  .technologie {
    display: flex;
    padding-left: 8px;
    padding-right: 8px;
    border-right: 1px solid $main-green;
    &:last-child {
      border: none;
    }
  }
}

h4,
h2 {
  text-align: start;
  margin: 0;
}
