<section>
  <div class="content section-about-me">
    <div class="img">
      <img src="./../../../assets/images/profile.png" alt="image_profile" />
    </div>
    <div class="text">
      <h4>Who I Am</h4>
      <article>
        <h2>About me</h2>
        <p>
          Hey there, I'm Lukas! Write some information about yourself that is IT
          related. Why are you passionate about coding? What is your source of
          inspiration for improving your programming skills?
        </p>
        <div class="row">
          <img src="./../../../assets/icons/location_on.png" alt="" />
          <p>
            Where are you based? Would you be open to working remotely or
            potentially relocating?
          </p>
        </div>
        <div class="row">
          <img src="./../../../assets/icons/cognition.png" alt="" />
          <p>
            Show that you are open-minded. Are you enthusiastic about learning
            new technologies and continually improving your skills?
          </p>
        </div>
        <div class="row">
          <img src="./../../../assets/icons/quality.png" alt="" />
          <p>
            A brief description of your problem-solving approach. Do you learn
            from each challenge as you search for the most efficient or elegant
            solution? You can include some keywords like: analytical thinking,
            creativity, persistence and collaboration.
          </p>
        </div>
      </article>
    </div>
  </div>
</section>
