@import "./../../../assets/styles/colors.scss";

section {
  background-color: $main-bg;
  padding-top: 92px;
  padding-bottom: 92px;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  font-family: "Karla", sans-serif;
}

.section-about-me {
  display: flex;
  justify-content: space-between;
  width: 100%;
  .text {
    margin-top: 100px;

    article {
      width: 568px;
      height: 568px;
      border: 2px solid $main-green;
      border-radius: 30px;
      padding: 32px;
      background: #3dcfb61a;

      backdrop-filter: blur(4px);
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      p {
        font-size: 18px;
        font-weight: 400;
      }
    }
  }
}

.row {
  display: flex;
  gap: 24px;
  p {
    color: #ffffffcc;
    &:hover {
      color: white;
    }
  }

  img {
    width: 32px;
    height: 32px;
  }
}

.img-container {
  width: 568px;
  height: 568px;
  position: relative;
  .hover-profile,
  .img-profile {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 30px;
  }
  .hover-profile {
    transition: all 0.3s ease-in-out;
  }
  &:hover .hover-profile {
    transform: translate(-30px, 46px);
  }
}
