@import "./assets/fonts/fonts.scss";
@import "./assets/styles/colors.scss";

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  color: white;
  scrollbar-width: thin;
  scrollbar-color: #3dcfb6 #1c1c1c;

  &::-webkit-scrollbar {
    width: 16px;
  }
  &::-webkit-scrollbar-track {
    background: #1c1c1c;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #3dcfb6;
    border-radius: 10px;
    border: 3px solid #1c1c1c;
  }
}

.content {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 96px;
  padding-right: 96px;
}

a {
  text-decoration: none;
  &:active {
    color: $main-green;
  }
}

h2 {
  font-size: 64px;
  font-weight: 700;
  font-family: "Fira Code", monospace;
  text-align: center;
  color: $main-green;
}
h3 {
  font-size: 40px;
  font-weight: 400;
  font-family: "Fira Code", monospace;
  text-align: center;
}
h4 {
  color: $main-green;
  font-size: 20px;
  font-weight: 400;
  font-family: "Karla", sans-serif;
  margin-bottom: 24px;
}

.btn-title {
  height: 48px;
  border: 1px solid white;
  border-radius: 100px;
  text-align: center;
  display: flex;
  align-items: center;
  overflow: hidden;
  font-size: 18px;
  & span {
    padding: 0 24px;
  }
  &:hover {
    border-color: $main-green;
    & span {
      padding: 0 24px;
      color: $main-green;
      animation: moveTicker 3s linear infinite;
    }
  }
}

@keyframes moveTicker {
  0% {
    transform: translateX(0%);
  }
  48% {
    transform: translateX(-100%);
    opacity: 1;
  }
  49% {
    transform: translateX(-100%);
    opacity: 0;
  }
  50% {
    transform: translateX(100%);
    opacity: 0;
  }
  51% {
    transform: translateX(100%);
    opacity: 1;
  }
  100% {
    transform: translateX(0%);
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
