.animation-b-t {
  transform: translateY(100px);
  opacity: 0;
}

.start-animation-b-t {
  animation: in-bottom-to-top 1s ease-out forwards;
}

.reverse-animation-b-t {
  animation: out-bottom-to-top 1s ease-out forwards;
}

@keyframes in-bottom-to-top {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes out-bottom-to-top {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
  }
}

.animation-l-r {
  transform: translateX(-100px);
  opacity: 0;
}

.start-animation-l-r {
  animation: in-X 1s ease-out forwards;
}

.reverse-animation-l-r {
  animation: out-X 1s ease-out forwards;
}

.animation-r-l {
  transform: translateX(100px);
  opacity: 0;
}

.start-animation-r-l {
  animation: in-X 1s ease-out forwards;
}

.reverse-animation-r-l {
  animation: out-X 1s ease-out forwards;
}

@keyframes in-X {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes out-X {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
  }
}

.animation-zoom {
  transform: scaleX(0);
  opacity: 0;
}

.start-animation-zoom {
  animation: in-zoom 1s ease-out forwards;
}

.reverse-animation-zoom {
  animation: out-zoom 1s ease-out forwards;
}

@keyframes in-zoom {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: scaleX(1);
  }
}

@keyframes out-zoom {
  from {
    opacity: 1;
    transform: scaleX(1);
  }
  to {
    opacity: 0;
  }
}
