<section>
  <footer class="content">
    <div class="left">
      <a href="#" class="img-logo"></a>
      <div class="info">
        <p>{{ "Footer.text1" | translate }}</p>
        <p>{{ "Footer.text2" | translate }}</p>
      </div>
    </div>
    <div class="middle">&#169; Niko Helwig 2025</div>
    <div class="right">
      <a href="https://github.com/09Dragon90" target="_blank">Github</a>
      <a
        href="https://de.linkedin.com//in/niko-helwig-3548ba361/"
        target="_blank"
        >Linkedin</a
      >
      <a href="mailto:mail@niko-helwig.de">Email</a>
      <a href="/legalNotice" target="_blank">{{
        "Footer.anker" | translate
      }}</a>
    </div>
  </footer>
</section>
