<section>
  <footer class="content">
    <div class="left">
      <a href="#" class="img-logo"></a>
      <div class="info">
        <p>{{ "Footer.text1" | translate }}</p>
        <p>{{ "Footer.text2" | translate }}</p>
      </div>
    </div>
    <div class="middle">&#169; Niko Helwig 2025</div>
    <div class="right">
      <a href="https://github.com/09Dragon90" target="_blank">Github</a>
      <a href="https://de.linkedin.com/" target="_blank">Linkedin</a>
      <a href="mailto:nhelwig@gmx.de">Email</a>
      <a href="/legalNotice">{{ "Footer.anker" | translate }}</a>
    </div>
  </footer>
</section>
