<header class="content">
  <div class="menue">
    <div class="btn-language" (click)="changeLanguage()">
      <div class="slider" [class.active]="language == 'en'"></div>
      <p [class.active-language]="language == 'de'">DE</p>
      <p [class.active-language]="language == 'en'">EN</p>
    </div>
    <div class="link">
      <a href="#section-about-me">{{ "Header.anker1" | translate }}</a>
      <div class="point"></div>
    </div>
    <div class="link">
      <a href="#section-skill-set">{{ "Header.anker2" | translate }}</a>
      <div class="point"></div>
    </div>
    <div class="link">
      <a href="#">{{ "Header.anker3" | translate }}</a>
      <div class="point"></div>
    </div>
  </div>

  <div class="img-logo"></div>
</header>
